<div class="jumbotron">

  <p class="lead">pinpointCV lets you manage multiple resumes effortlessly.</p>

  <h1>
    <i class="livicon open" data-name="clock" data-s="64"></i> = <i class="livicon open" data-name="money" data-s="64"></i><br />
  </h1>


  <h2 class="text">
    and we help you save both!
  </h2>
  <br />

  <%= link_to "Start Now", resumes_path, :class => "btn btn-success btn-large" %>
</div>

<!--<div class="register">
  <h1 class="intro">Test drive our App</h1>
  <p class="convince">We want to provide you with an app nothing short of perfect!</p>         
    <div class="register-form">
      <%= link_to "Start Now", resumes_path, :class => "btn btn-success btn-large" %>
    </div>
</div>
-->

<hr />

<div class="row marketing">

  <div class="intro">
    <h2>
      What separates us from the 9999999999<sup>&#x221e;</sup> other resume sites out there?
    </h2>
  </div>

  <div class="span3 first">
    <h3><i class="livicon icon" data-name="download-alt" data-s="48"></i>Import from LinkedIn</h3>

    <p>
      We provide you with the ability to import your LinkedIn data for quick data population.
    </p>
  </div>

  <div class="span3">
    <h3><i class="livicon icon" data-name="pen" data-s="48"></i>Create multiple resumes</h3>

    <p>
      Our app is structured such that you can tailor multiple resumes to target industries &amp; jobs.
    </p>
  </div>

  <div class="span3">
    <h3><i class="livicon icon" data-name="recycled" data-s="48"></i>Re-use previous details</h3>

    <p>
      Recycle your previously imported and created details for even quicker reproduction in the future.
    </p>
  </div>

</div>

<div class="jumbotron min">
  <h2 class="text">
    Give us a try now!
  </h2>
  <br />

  <%= link_to "Register Now", resumes_path, :class => "btn btn-success btn-large" %>
  
</div>
