<!--<div class="span12 landing-page">
  <h1 class="creating"><i class="livicon icon" data-name="gears" data-s="64" defcolor="#ccc"></i></h1>
  <h1>Woah there buddy!</h1>
  <h3>Our application is still being developed - Check back after 9am on Sunday to see the awesomeness we've created.</h3>
</div>-->

        <div class="jumbotron">
          <h1>
            <i class="livicon open" data-name="clock" data-s="64"></i> = <i class="livicon open" data-name="money" data-s="64"></i><br />
          </h1>
          <h1 class="text">
            and we help you save it!
          </h1>

          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div class="register">
          <h1 class="intro">Test drive our App</h1>
          <p class="convince">We want to provide you with an app nothing short of perfect!</p>         

              <div class="register-form">
                <div class="control-group">
                  <label class="login-field-icon fui-mail-16" for="email"></label>
                  <input type="text" class="email-field" value="" placeholder="Enter your email address" id="email" />
                </div>

                <div class="control-group">
                  <label class="login-field-icon fui-lock-16" for="login-pass"></label>
                  <input type="password" class="login-field" value="" placeholder="Password" id="login-pass" />
                </div>

                <a class="btn btn-success btn-large" href="#">Register</a>
              </div>
        </div>

        <hr />

        <div class="row marketing">

          <div class="intro">
            <h2>
              What separates us from the 9999999999<sup>&#x221e;</sup> other resume sites out there?
            </h2>
          </div>

          <div class="span3 first">
            <h3><i class="livicon icon" data-name="download-alt" data-s="48"></i>Subheading with a tag</h3>

            <p>
              Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
            </p>
          </div>

          <div class="span3">
            <h3><i class="livicon icon" data-name="pen" data-s="48"></i>Subheading with a tag</h3>

            <p>
              Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
            </p>
          </div>

          <div class="span3">
            <h3><i class="livicon icon" data-name="recycled" data-s="48"></i>Subheading with a tag</h3>

            <p>
              Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
            </p>
          </div>

        </div>


    <div id="footer">
      <div class="container">
        <p>© Company 2013</p>
      </div>
    </div>
