<div class="span12 landing-page">
  <h1 class="creating"><i class="livicon icon" data-name="gears" data-s="64" defcolor="#ccc"></i></h1>
  <h1>Woah there buddy!</h1>
  <h3>Our application is still being developed - Check back after 9am on Sunday to see the awesomeness we've created.</h3>
</div>
