<h1>Listing resumes</h1>

<ul id="resumes-list">
</ul>

<script id="resume-template" type="text/x-handlebars-template">
  <li class="resume">
    <h1>{{ name }}</h1>
    <ul id="sections-list-{{ id }}">
    </ul>
    <a href="#" id="section-create-{{ id }}" data-type="text" data-pk="{{ id }}">Create Section</a> 
  </li>
</script>
<script id="section-template" type="text/x-handlebars-template">
  <li id="section-{{ id }}" class="section">
    
    <h3><a href="#" id="section-edit-{{ id }}" data-type="text" data-pk="{{ id }}">{{ name }}</a>
    </h3>
    <button class="delete-section" data="{{ id }}">Delete</button></h3>
    <ul id="parts-list-{{ id }}">
    </ul>
    <a href="#" id="part-create-{{ id }}" data-type="text" data-pk="{{ id }}">Create Part</a>

  </li>
</script>
<script id="part-template" type="text/x-handlebars-template">
  <li id="part-{{ id }}" class="part">
    <h5>{{ name }}<button class="delete-part" data="{{ id }}">Delete</button></h5>
    <p>{{ location }}</p>
    <p>{{ start_date }} - {{ end_date }}</p>
    <p>{{ notes }}</p>
  </li>
</script>

<br />

<%= link_to 'New Resume', new_resume_path %> |
<%= link_to 'Import from LinkedIn', linked_in_profiles_path %>
