<h1>Listing resumes</h1>


<ul id="resumes-list">
</ul>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<script id="resume-template" type="text/x-handlebars-template">
<li class="resume">
<h1>{{ name }}</h1>
  <ul id="sections-list-{{ id }}">
  </ul>
</li>
</script>
<script id="section-template" type="text/x-handlebars-template">
<li class="section">
<h3>{{ name }}</h3>
  <ul id="parts-list-{{ id }}">
  </ul>
</li>
</script>
<script id="part-template" type="text/x-handlebars-template">
<li class="part">
<h5>{{ name }}</h5>

</li>
</script>

<br />

<%= link_to 'New Resume', new_resume_path %> |
<%= link_to 'Import from LinkedIn', linked_in_profiles_path %>
